.img1{
    width:2.5vw; height: 4vh; margin-right: 30%; margin-top: 2%;
}



.menu{
    background-color:green;
    background-size: cover; font-family: sans-serif; overflow:auto; align-items: center;
    

}
.menu ul{
    margin-left: auto;
    display: inline-flex;
    box-sizing: border-box; 
    
    
}
.menu ul li{
     list-style: none; width:15vw; display: inline; text-align: center; margin: 3px; padding: 0px; margin-top: 2%;
}
.menu ul li a {
    text-decoration: none; color: white;
}
.active, .menu ul li:hover {
    background: #2bab2b;
    border-radius: 3px;
}

.fa-user{
    color: white;  position: absolute; margin-left:85%; margin-top: 2%;
}


.profile-img{
    width: 40px ; height: 35px;
}

.sub-menu{ 
    background-color:green; margin-top: 2px; width: 12%; margin-left: 81vw; border-top-left-radius:10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
    padding:0;  margin-right: 8%; display: none; z-index:9999; position: absolute;
      }
.sub-menu ul{
     text-align: left; margin:0 auto;
}
.sub-menu ul li{
    list-style: none;  text-decoration: none; display:block; padding: 10px; padding-left: 0%; margin-left: 0%;
}
.sub-menu ul li a{
    text-decoration: none; color: white;
}
.fa-right-from-bracket{
    color: white;
}
.sub-menu ul li:hover {
    padding: 3%;
    background: #2bab2b;
    border-radius: 3px;
    width: fit-content;
    
}
.s1{
    display:block;
}
#profile-btn{
    background-color: transparent; border-color: transparent; border-width: none;
}
#profileIcon:hover{
    background: #2bab2b;
    height: fit-content;
    width:fit-content; padding: 2px;
}
.main-container-background{
    height: 100vh;
    background-size: cover;
}

.container-bg{
    background-color: #2bab2b;
    background-size: cover; 
    height:fit-content;width: 40vw;
    margin: auto;
    text-align: center; display:flex; margin-top: 3%; flex-direction: column; width:40%;
}

.slide-img{
    height: 30vh ;
}
.text-container{
    background-color: white; background-size: cover; margin: 5%; border-radius: 10px; font-family: sans-serif;
}
.text-container h3{
    font-weight: bold;
}
.fa-circle-left{
    color:green; width: 5%; position: fixed; top: 31%; left: 25%; font-size: 30px; right: 3%;
}
.icon-container{
    height: fit-content;
}
.fa-circle-right{

    color:green; width: 5%; position: fixed; font-size: 30px; left: 70%; bottom:64%;
}
#carouselId{
    align-items: center;
}
.textT{
    color: white; font-family: sans-serif; position: relative; left: auto;
}
  
  
  

