.signup-bg{

    background-color:white;
    background-size: cover;
    height: 100vh;
}
.span-head{
    color: #0D0C26;
    font-weight: lighter;
    font-family: 'Roboto';
    font-size: 60%;
}
.head{
    color: #0D0C26;
    font-family:'Roboto';
    font-size: 25px;
    font-weight: bold;
}
.form-bg{
    background-color:#0D0C26; padding-left: 4%; padding-right: 4%; margin-bottom: 1%; padding-top: 1%;
    
}
.label{
    color: white; font-size: small;
}
.signup-btn{
    padding: 3px;
    width:60%; background-color: #0D6EFD;
    height: 30px; color: white; border-width: 0px; border-style: initial; margin-top: 5px; font-size: small;
}
.signupError{
    color:green;
    font-weight:400; font-size: small; font-style:inherit;
}
::placeholder{
    font-weight: lighter; font-size: smaller; color:black;
}

.inputvalue{
    width:100%; font-size: small; padding-top: 3px;
}
.checkboxnote{
    font-size: x-small; color: white; font-weight: lighter; margin-top:15px;
}
.label1{
    color: black; font-size: small; margin-left:0.5%; font-weight: 400;
}
.checkboxnote1{
    font-size: small; color: white; font-weight:400 ;
}
.dynamicinput{
    border-color: red; border-width: 1px; width:100%; font-size: small;
}
.np::placeholder{ color: red; opacity: 90%;
}
.ep::placeholder{
    color: red; opacity: 90%;
}
.pp::placeholder{
    color: red; opacity: 90%;
}
.cpp::placeholder{
    color: red; opacity: 90%;
}

.errorbg{
    background-color: white;
    text-align: center;
    margin-top: 3%;
    border-width: 0px;
    border-style: hidden;

    
}
.error{
    color: red; font-size: small; font-weight:400; opacity: 60%;
}
.textcolor{
    color: red;
}
.fa-eye{
    position: absolute;
    top: 24%;
    right: 4%;
    color: #0D0C26;
    height: 40%;
}
.password-container{
    position: relative;
    padding: 0px;
    margin: 0px;
}
.break{
    display: none;
}
.fa-eye-slash{
    position: absolute;
    top: 24%;
    right: 4%;
    color: #0D0C26;
    height: 40%;
}

