.userdetail{
        margin: auto; background-color: white;  margin:auto;
        display: block; padding: auto;
    }
    
    .userpagebg{
         background-color: #0D0C26; background-size: cover; height: 100vh; padding-top: 5%; position: absolute;
     }
     .profileImg{
        width: 130px; margin: auto; display:block; padding-top:5%; position: relative; left: 5%;
     }
     .hs{
        color:deepskyblue; position: relative; bottom: 40%; font-size:large;
     }
     h6{
        color: darkgreen; position: relative;
     }
     span{
        color: lightseagreen;
     }

    
     .s1{
         right: 4%; bottom: 50%;
     }
     .s2{
        position: relative; right: 2%; bottom: 10%; bottom: 10%;
     }
     .s3{
        position: relative;
     }
     #d{
        position: relative; bottom: 25%;
     }
     #logout{
        position:relative; bottom: 20%; color: dodgerblue;
     }
     #lg{
        position: relative; color: darkblue;
     }
     .tex1{
      color: darkgrey; font-size: small; font-style:calc();
     }